{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}

<div class="container py-4 text-center">


    {% if current_user.is_authenticated %}

    <h1>Informe o caminho do arquivo</h1>
    <div class="form-group mb-3">
        {{ form.import(class_="form-control",placeholder="File name")}}
    </div>
    <a class="btn btn-primary" href="{{url_for('imortar')}}">Importar</a>

    {% else %}

    <a class="btn btn-primary" href="{{url_for('login')}}">Sign in / Sign Up</a>

    {% endif %}
</div>
{% endblock %}