{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}

<div class="container py-4 text-center">
    <form action="{{ request.path }}" method="POST" class="card-body">
        {{ form1.csrf_token }}

        {% if current_user.is_authenticated %}

        <h5>Informe o caminho do arquivo</h5>
        <div class="container" style="max-width: 400px;">
            {{ form1.file(class_="form-control",placeholder="File name")}}
        </div>
        <button type="submit" class="btn bg-info text-white mt-3"> {{ btn_action }} </button>
        
        {% else %}

        <meta http-equiv="refresh" content="0; URL='/login'" />

        {% endif %}
    </form>
</div>
{% endblock %}